@using WebUI.Models
@model ReservationModel
@{
    ViewData["Title"] = "AddReservation2";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="card">  
    <div class="card-body">
        <h4 class="card-title">Rezervasyon Sayfası</h4>
        <form class="forms-sample" method="post">
            <div class="form-group">
                @Html.Label("Rota")
                <br />
                <input type="text" value="@ViewBag.result.City" asp-for="Reservations.Id" class="" readonly/>
            </div>
               <div class="form-group">
                @Html.Label("Kişi Sayısı")
                <input type="number" asp-for="Reservations.PersonCount" class="form-control peopleCount" value="0" />
            </div>
            <div class="form-group">
                @Html.Label("Günlük Fiyat")
                <input type="number" class="form-control price" value="@ViewBag.result.Price" />
            </div>
            <div class="form-group">
                @Html.Label("Toplam Tutar :")
                <input type="number" asp-for="Reservations.TotalPrice" class="form-control total" />

            </div>
            <div class="form-group">
                @Html.Label("Açıklama")
                <input type="texarea" asp-for="Reservations.Description" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mr-2">Rezervasyon Oluştur</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>

    $(function () {

        $(".peopleCount").on("change", function () {
            var peopleCount = $(this).val();
            var price = $(".price").val();
            var total = price * peopleCount;
            $(".total").val(total);
        });

    })

</script>