@using Entities.Cocnrete
@model List<Comment>

@if (ViewBag.CommentCount > 0)
{
    <div class="comments mt-5">
        <h4 class="side-title ">Yorumlar (@ViewBag.CommentCount)</h4>
        @foreach (var item in Model)
        {
            <div class="media mt-4">
                <div class="img-circle">
                    <img src="@item.AppUser.ImageUrl" class="img-fluid" alt="...">
                </div>
                <div class="media-body">

                    <ul class="time-rply mb-2">
                        <li>
                            <a href="#URL" class="name mt-0 mb-2 d-block">@item.AppUser.FirstName @item.AppUser.LastName</a>
                            @item.CommentDate

                        </li>
                       
                        @if(ViewBag.myComment == item.AppUserId)
                        {
                            <a href="/Comment/Delete/@item.Id"><button class="btn btn-danger btn1">Yorumu Sil</button></a>
                            <a href="/Comment/Update/@item.Id"><input class="btn btn-warning" value="Düzenle"></a>
                        }                   
                    </ul>

                    <p>
                        @item.CommentDetail
                    </p>
                </div>
            </div>
        }
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    $(function () {
        $(".btn1").click(x=>{
            let id = $(".btn1").val();
            $.ajax
        })

        $(".btn1").click(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'bottom-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: 'Başarıyla silindi'
            })
        });

    })

</script>