@using Entities.Cocnrete
@model Destination
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Rota Güncelle</h4>
        <div class="d-flex justify-content-end">
            <a href=""><input class="btn btn-warning" type="button" value="Resim Ekle" /></a>       
        </div>
        <form class="forms-sample" method="post" enctype="multipart/form-data">
            <div class="form-group">
                @Html.Label("Sehir Bilgisi")
                <input type="text" asp-for="City" class="form-control" />
            </div>
            <div class="form-group">
                @Html.Label("Gün")
                <input type="text" asp-for="DayNight" class="form-control" />
            </div>
            <div class="form-group">
                @Html.Label("Fiyat")
                <input type="text" asp-for="Price" class="form-control" />
            </div>
            <div class="form-group">
                @Html.Label("Kapasite")
                <input type="text" asp-for="Capacity" class="form-control" />
            </div>
            <div class="form-group">
                @Html.Label("Tarih")
                <input class="form-control"
                       type="datetime-local"
                       asp-for="DestinationDate"/>
            </div>
            <div class="form-group">
                @Html.Label("Açıklama")
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Image" />
            </div>
            <br />
            <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
            </div>
        </form>
    </div>
</div>

